.DS_Store
DESIGN-NOTES.md
PRESENTATION-POSTER.md
poster_assets/
DIU-7_Project_Description.docx
YAPJINHNG_1008979_DIU-7.pdf
YAPJINHNG_1008979_DIU7.pdf
final_project_hass.zip
yapjinhng_1008979_screenshotofwbfinal.png
